{% extends 'template.html' %}

{% block content %}
<br/>
<div>
    <div>
        <div class="card">
            <div class="card-body">
                {% if submitted %}
                <h2 style='color:green'>Submitted Successfully!</h2><br />
                <br/>
                <a class="btn btn-secondary" href="{% url 'show_mobiles' %}">Show mobiles</a>
                {% else %}
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" name="submit" value="Add" title="Add Mobile">
                </form>
                {% endif %}
            </div>
        </div>
    </div>

</div>

{% endblock %}