{% extends 'template.html' %}

{% block content %}
<br/>
<div>
    <div>
        <div class="card">
            <div class="card-body">
                {% if deleted %}
                <h2 style='color:red'>Deleted Successfully!</h2><br />
                <br/>
                <a class="btn btn-secondary" href="{% url 'show_brands' %}">Show brands</a>
                {% else %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <p>Are you sure to delete {{ brand }} ?</p>
                    <input class="btn btn-danger" type="submit" name="submit" value="Delete" title="Delete mobile">
                    <a class="btn btn-primary" href="{% url 'show_brands' %}">Cancle</a>
                </form>
                {% endif %}
            </div>
        </div>
    </div>

</div>

{% endblock %}