{% extends 'template.html' %}

{% block content %}
<br>

<div class="container">
    <div class="row">
        <div class="col-md">
            <h3>Mobiles </h3>
            <div class="card card-body">
                <h6>
                    <li>Total : {{ total_mobiles }} </li>
                    <li>Count Not Availble : {{ count_not_available }}</li>
                </h6>
                <table class="table table-sm">
                    <tr>
                        <th>Model</th>
                        <th>Price</th>
                        <th>Status</th>
                    </tr>
                    {% for mobile in mobiles %}
                    <tr>
                        <td>{{mobile.model}}</td>
                        <td>{{mobile.price}}</td>
                        {% if mobile.status %}
                        <td>
                            <p>✅</p>
                        </td>
                        {% else %}
                        <td>
                            <p>❌</p>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
                <a class="btn btn-info" href="{% url 'show_mobiles' %}">Manage Mobiles</a>
            </div>

        </div>
        <div class="col-md">
            <h3>Brands</h3>
            <div class="card card-body">
                <h6>
                    <li>Total : {{ total_brands }} </li>
                </h6>
                <table class="table table-sm">
                    <tr>
                        <th>Brand name</th>
                        <th>Brand nationality</th>
                    </tr>
                    {% for brand in brands %}
                    <tr>
                        <td>{{brand.name}}</td>
                        <td>{{brand.nationality}}</td>
                    </tr>
                    {% endfor %}
                </table>
                <a class="btn btn-info" href="{% url 'show_brands' %}">Manage Brands</a>
            </div>

        </div>
    </div>
</div>

<hr>
<h5>This project has been designed and developed for <a href="https://didepardaz.ir/">Dide Pardaz
        Saba</a></h5><br />
<h5>Github <a href="https://github.com/ehsanheidarian3001/DPS">link</a> for this project</h5>

{% endblock %}