{% extends 'template.html' %}

{% block content %}
<br>

<div class="container">
    <div class="row">
        <div class="col-md">
            <h3>Mobiles :</h3>
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Model</th>
                        <th>Price</th>
                        <th>Status</th>
                    </tr>
                    {% for mobile in mobiles %}
                    <tr>
                        <td>{{mobile.model}}</td>
                        <td>{{mobile.price}}</td>
                        {% if mobile.status %}
                        <td>
                            <p>✅</p>
                        </td>
                        {% else %}
                        <td>
                            <p>❌</p>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>

        </div>
        <div class="col-md">
            <h3>Brands :</h3>
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Brand name</th>
                        <th>Brand nationality</th>
                    </tr>
                    {% for brand in brands %}
                    <tr>
                        <td>{{brand.name}}</td>
                        <td>{{brand.nationality}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

        </div>
    </div>
</div>

<hr>
<h5>This project has been designed and developed upon the request of <a href="https://didepardaz.ir/">Dideh Pardaz
        Saba</a></h5>

{% endblock %}