{% extends 'template.html' %}

{% block content %}
<br/>
<div class="container">
    <div class="row">
        <div class="col-md">
            <h3>Mobiles :</h3>
            {% if extra_data %}
                <div class="alert alert-primary" role="alert">
                    Mobile Edited...
                </div>
            {% endif %}
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Brand name</th>
                        <th>Brand nationality</th>
                        <th>Model</th>
                        <th>Price</th>
                        <th>Color</th>
                        <th>Screen size</th>
                        <th>Status</th>
                        <th>Builder country</th>
                        <th>Edit/Delete</th>
                    </tr>
                    {% for mobile in mobiles %}
                    <tr>

                        <td>{{mobile.brand_id.name}}</td>
                        <td>{{mobile.brand_id.nationality}}</td>
                        <td>{{mobile.model}}</td>
                        <td>{{mobile.price}}</td>
                        <td>{{mobile.color}}</td>
                        <td>{{mobile.screen_size}}</td>
                        {% if mobile.status %}
                        <td>
                            <p>✅</p>
                        </td>
                        {% else %}
                        <td>
                            <p>❌</p>
                        </td>
                        {% endif %}
                        <td>{{mobile.builder_country}}</td>
                        <td><a class="btn btn-info" href="{% url 'edit_mobile' mobile.id %}">Edit/Delete</a></td>

                    </tr>
                    {% endfor %}
                </table>
            </div>

        </div>
    </div>
</div>

{% endblock %}